@font-face {
  font-family: "Open Sans Semi";
  src: url("../fonts/OpenSans-Semi-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Semi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}
  
@font-face {
  font-family: "Open Sans Extra";
  src: url("../fonts/OpenSans-Extra-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Extra-Bold.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("../fonts/Ubuntu-Regular.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("../fonts/Ubuntu-Bold.woff") format("woff");
}