$primary-white-color: #ffffff;
$primary-accent-color: #fcae26;
$primary-hover-color: #f39313;
$primary-headline-color: #000000;
$primary-text-color: #444444;
$footer-text-color: #969aa8;
$primary-qoal-bg:#824fe3;
$primary-qoal-color:#ffffff;
$primary-qoal-before:#fcae26;
$border-color: #969aa8;
$footer-legal-text-color: #626263;
$bg-footer-one: #222222;

// Icon colors
$icon-first-color: #e68d0e;
$icon-second-color: #fd642f;
$icon-third-color: #824fe3;
$icon-fourth-color: #00ab9f;
$icon-telegram-color: #6398e0;
$icon-facebook-color: #3b4e70;
$icon-youtube-color:#9f2431;


// backgrounds
$bg-section-color: #fafafa;
$primary-qoal-bg:#824fe3;
$bg-item-first-color: rgba($icon-first-color, 0.2);
$bg-item-second-color: rgba($icon-second-color, 0.2);
$bg-item-third-color: rgba($icon-third-color, 0.2);
$bg-item-fourth-color: rgba($icon-fourth-color, 0.2);
$bg-footer-two: #151515;

// typography
$fz-desktop-text: 18px;
$fz-tablet-text: 16px;
$fz-mobile-text: 16px;
